{% extends "base.html" %}
    {% block title %}Facilities Entries{% endblock %}
    {% block content %}
		<h1>List of Facilities Entries.</h1>
		<table>
			<thead>
				<tr>
					<td><b>ID</td>
					<td><b>Toilet_Id</b></td>
					<td><b>Shower</b></td>
					<td><b>Soap</b></td>
					<td><b>Toilet_Paper</b></td>
					<td><b>Hand_Drier</b></td>
					<td><b>Towel</b></td>
					<td><b>Wash_Basin</b></td>
					<td><b> </td>
					<td><b> </td>
				</tr>
			</thead>
			{% if facilities_entries %}
			<tbody>
			{% for entry in facilities_entries %}
				<tr>
					<td>{{ entry.id }}</td>
					<td>{{ entry.toilet_id }}</td>
					<td>{{ entry.shower }}</td>
					<td>{{ entry.soap }}</td>
					<td>{{ entry.toilet_paper }}</td>
					<td>{{ entry.hand_drier }}</td>
					<td>{{ entry.towel }}</td>
					<td>{{ entry.wash_basin }}</td>
					<td><a href="/facilities/edit/{{ entry.facilities_id }}">Edit</a></td>
					<td><a href="/facilities/delete/{{ entry.facilities_id }}">Delete</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
			{% else %}
		You have no entries yet
			{% endif %}
			<b><a href="/facilities/add">Add new entry</a></b>
    {% endblock %}