{% extends "base.html" %}
    {% block title %}Facility Entries{% endblock %}
    {% block content %}
		<h1>List of Facility Entries.</h1>
        {% if facility_entries %}
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Toilet ID</th>
					<th>Shower</th>
					<th>Soap</th>
					<th>Toilet Paper</th>
					<th>Hand Dryer</th>
					<th>Wash Basin</th>
					<th colspan="2">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
			{% for entry in facility_entries %}
				<tr>
					<td>{{ entry.id }}</td>
					<td>{{ entry.toilet_id }}</td>
					<td>{{ entry.shower }}</td>
					<td>{{ entry.soap }}</td>
					<td>{{ entry.toilet_paper }}</td>
					<td>{{ entry.hand_drier }}</td>
					<td>{{ entry.wash_basin }}</td>
					<td><a class="btn" href="/facility/edit/{{ entry.facility_id }}">Edit</a></td>
					<td><a class="btn" href="/facility/delete/{{ entry.facility_id }}">Delete</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
			{% else %}
		You have no entries yet
			{% endif %}
			<b><a class="btn btn-primary" href="/facility/add">Add new entry</a></b>
    {% endblock %}