<!doctype html>
<html>	<head><title>Edit Facility Entries</title></head>
	<body>
		<h1>Edit Facility Entries.</h1>
		<form name="facility_add" method="post" action="/facility/update/{{ facility_item.id }}">
		<table>
				<tr>
					<td>Toilet_Id:</td>
					<td><input type="text" name="toilet_id" value="{{ facility_item.toilet_id }}"/></td>
				</tr>
				<tr>
					<td>Shower:</td>
					<td><input type="text" name="shower" value="{{ facility_item.shower }}"/></td>
				</tr>
				<tr>
					<td>Soap:</td>
					<td><input type="text" name="soap" value="{{ facility_item.soap }}"/></td>
				</tr>
				<tr>
					<td>Toilet_Paper:</td>
					<td><input type="text" name="toilet_paper" value="{{ facility_item.toilet_paper }}"/></td>
				</tr>
				<tr>
					<td>Hand_Drier:</td>
					<td><input type="text" name="hand_drier" value="{{ facility_item.hand_drier }}"/></td>
				</tr>
				<tr>
					<td>Towel:</td>
					<td><input type="text" name="towel" value="{{ facility_item.towel }}"/></td>
				</tr>
				<tr>
					<td>Wash_Basin:</td>
					<td><input type="text" name="wash_basin" value="{{ facility_item.wash_basin }}"/></td>
				</tr>
				<tr>
					<td><input type="submit" name="submit" value="Edit Entry"/></td>
					<td> </td>
				</tr>
		</table>
		</form>
	</body>
</html>