{% extends "base.html" %}
    {% block title %}Facilities Entries{% endblock %}
    {% block content %}
		<h1>Edit Facilities Entries.</h1>
		<form name="facilities_add" method="post" action="/facilities/update/{{ facilities_item.id }}">
            <input type="hidden" name="toilet_id" value="{{ facilities_item.toilet_id }}"/>
		<table>
				<tr>
					<td>Shower:</td>
					<td><input type="text" name="shower" value="{{ facilities_item.shower }}"/></td>
				</tr>
				<tr>
					<td>Soap:</td>
					<td><input type="text" name="soap" value="{{ facilities_item.soap }}"/></td>
				</tr>
				<tr>
					<td>Toilet Paper:</td>
					<td><input type="text" name="toilet_paper" value="{{ facilities_item.toilet_paper }}"/></td>
				</tr>
				<tr>
					<td>Hand Dryer:</td>
					<td><input type="text" name="hand_drier" value="{{ facilities_item.hand_drier }}"/></td>
				</tr>
				<tr>
					<td>Wash_Basin:</td>
					<td><input type="text" name="wash_basin" value="{{ facilities_item.wash_basin }}"/></td>
				</tr>
				<tr>
					<td><input type="submit" name="submit" value="Edit Entry"/></td>
					<td> </td>
				</tr>
		</table>
		</form>
    {% endblock %}