<!doctype html>
<html>	<head><title>Image Entries</title></head>
	<body>
		<h1>List of Image Entries.</h1>
		<table>
			<thead>
				<tr>
					<td><b>ID</td>
					<td><b>Toilet_Id</b></td>
					<td><b>User_Id</b></td>
					<td><b>Added_On</b></td>
					<td><b> </td>
					<td><b> </td>
				</tr>
			</thead>
			{% if image_entries %}
			<tbody>
			{% for entry in image_entries %}
				<tr>
					<td>{{ entry.id }}</td>
					<td>{{ entry.toilet_id }}</td>
					<td>{{ entry.user_id }}</td>
					<td>{{ entry.added_on }}</td>
					<td><a href="/image/edit/{{ entry.image_id }}">Edit</a></td>
					<td><a href="/image/delete/{{ entry.image_id }}">Delete</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
			{% else %}
		You have no entries yet
			{% endif %}
			<b><a href="/image/add">Add new entry</a></b>
	</body>
</html>