{% extends "base.html" %}
    {% block title %}Image Entries{% endblock %}
    {% block content %}
		<h1>List of Image Entries.</h1>
        {% if image_entries %}
		<table>
			<thead>
				<tr>
					<td>ID</td>
					<td>Toilet ID</td>
					<td>User ID</td>
					<td>Added on</td>
					<td colspan="2"></td>
				</tr>
			</thead>
			
			<tbody>
			{% for entry in image_entries %}
				<tr>
					<td>{{ entry.id }}</td>
					<td>{{ entry.toilet_id }}</td>
					<td>{{ entry.user_id }}</td>
					<td>{{ entry.added_on }}</td>
					<td><a class="btn" href="/image/edit/{{ entry.image_id }}">Edit</a></td>
					<td><a class="btn" href="/image/delete/{{ entry.image_id }}">Delete</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
			{% else %}
		You have no entries yet
			{% endif %}
			<b><a class="btn btn-primary" href="/image/add">Add new entry</a></b>
	{% endblock %}