{% extends "base.html" %}
    {% block title %}Cablet{% endblock %}
    {% block sidebar %}
    <table class="table table-hover" data-bind="foreach: toilets">
        <tr>
        <td>
            <span data-bind="text: toilet_name"></span>
            <span data-bind="text: toilet_address"></span>
        </td>
        </tr>
    </table>
    {% endblock %}
    {% block content %}
    <div id="content">
    	<h1>Toilet Finder</h1>
        <meta name="viewport" content="width=620" />
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <article>
      <p>Finding your location: <span id="status">checking...</span></p>
    </article>
        
        
        <p>Entry for Sanitation Hackathon 2012, Jakarta, Indonesia by <a target="_blank" href="http://twitter.com/femmerling">@femmerling</a> (Fauzan Emmerling), <a target="_blank" href="http://twitter.com/ksetyadi">@ksetyadi</a> (Kristiono Setyadi), and <a target="_blank" href="http://twitter.com/pebaryan">@pebaryan</a> (Peb Ruswono Aryan). </p>
       <footer>
      <p id="disclaimer">powered by <a target="_blank" href="https://github.com/femmerling/EmeraldBox/">EmeraldBox</a>, an open source python web framework by <a target="_blank" href="http://www.emfeld.com">Fauzan Emmerling</a>.</p>
      </footer>
    </div>
  {% endblock %}
  {% block addon %}
  <script type="text/javascript">
            var viewmodel = {
                toilets: ko.observableArray([])
            };
            
            ko.applyBindings(viewmodel);
            
            function success(position) {
              var s = document.querySelector('#status');
              
              if (s.className == 'success') {
                // not sure why we're hitting this twice in FF, I think it's to do with a cached result coming back    
                return;
              }
              
              
              
              s.innerHTML = "found you!";
              s.className = 'success';
              
              var mapcanvas = document.createElement('div');
              mapcanvas.id = 'mapcanvas';
              mapcanvas.style.height = '400px';
              mapcanvas.style.width = '560px';
                
              document.querySelector('article').appendChild(mapcanvas);
              
              var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
              var myOptions = {
                zoom: 15,
                center: latlng,
                mapTypeControl: false,
                navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
                mapTypeId: google.maps.MapTypeId.ROADMAP
              };
              var map = new google.maps.Map(document.getElementById("mapcanvas"), myOptions);
              
              var marker = new google.maps.Marker({
                  position: latlng, 
                  map: map, 
                  title:"You are here! (at least within a "+position.coords.accuracy+" meter radius)"
              });
              
              $.getJSON('/search/'+position.coords.latitude+","+position.coords.longitude, function(data){
                    viewmodel.toilets(data.toilets)
              })
            }

            function error(msg) {
              var s = document.querySelector('#status');
              s.innerHTML = typeof msg == 'string' ? msg : "failed";
              s.className = 'fail';
              
              // console.log(arguments);
            }
            
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(success, error);
            } else {
              error('not supported');
            }
            
            
        </script>
  {% endblock %}