{% extends "base.html" %}
    {% block title %}Cablet{% endblock %}
    {% block content %}
    <div id="content">
    	<h1>Toilet Finder</h1>
        <p>Entry for Sanitation Hackathon 2012, Jakarta, Indonesia by <a target="_blank" href="http://twitter.com/femmerling">@femmerling</a> (Fauzan Emmerling), <a target="_blank" href="http://twitter.com/ksetyadi">@ksetyadi</a> (Kristiono Setyadi), and <a target="_blank" href="http://twitter.com/pebaryan">@pebaryan</a> (Peb Ruswono Aryan). </p>
       <footer>
      <p id="disclaimer">powered by <a target="_blank" href="https://github.com/femmerling/EmeraldBox/">EmeraldBox</a>, an open source python web framework by <a target="_blank" href="http://www.emfeld.com">Fauzan Emmerling</a>.</p>
      </footer>
    </div>
  {% endblock %}