{% extends "base.html" %}
    {% block title %}Cablet{% endblock %}
    {% block sidebar %}
    <div>
    <table class="table table-hover" data-bind="foreach: toilets">
        <tr>
        <td>
            <img data-bind="attr:{src: '/static/img/'+((toilet_type==0)?'ladies_32.png':(toilet_type==1)?'gents_32.png':'ladies_gents_32.png')}" />
            <a style="font-size:14pt;" data-bind="attr: {href: '/toilet/'+toilet_id}, text: toilet_name"></a><br/>
            distance : (<span data-bind="text: distance"></span>m) &nbsp;|&nbsp; rating : <span data-bind="text: toFixed(toilet_current_rating,2)"></span> of 5.0<br/>
            <span data-bind="text: toilet_address"></span>
            <div class="right">
            <a href="#" class="btn" data-bind="attr: {onclick: 'getDirection('+toilet_lat+','+toilet_long+')'}">get direction</a>
            </div>
        </td>
        </tr>
    </table>
    </div>
    {% endblock %}
    {% block content %}
    <div id="content">
    	<h1>Cablet - Find toilets near you</h1>
        <meta name="viewport" content="width=620" />
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <article>
      <p>Finding your location: <span id="status">checking...</span></p>
    </article>
    </div>
  {% endblock %}
  {% block footer %}
  <div class="well">
      <p>Entry for Sanitation Hackathon 2012, Jakarta, Indonesia by <a target="_blank" href="http://twitter.com/femmerling">@femmerling</a> (Fauzan Emmerling), <a target="_blank" href="http://twitter.com/ksetyadi">@ksetyadi</a> (Kristiono Setyadi), and <a target="_blank" href="http://twitter.com/pebaryan">@pebaryan</a> (Peb Ruswono Aryan). </p>
       <footer>
      <p id="disclaimer">powered by <a target="_blank" href="https://github.com/femmerling/EmeraldBox/">EmeraldBox</a>, an open source python web framework by <a target="_blank" href="http://www.emfeld.com">Fauzan Emmerling</a>.</p>
      </footer>
      </div>
  {% endblock %}
  {% block addon %}
  <script type="text/javascript">
            var viewmodel = {
                toilets: ko.observableArray([])
            };
            
            ko.applyBindings(viewmodel);
            var lat=0.;
            var lon=0.;
            var directionDisplay;
            var directionsService = new google.maps.DirectionsService();
            var map;
            
            
            toiletIcon = "/static/img/toilet.png";
            
            function setup_map(la,lo,accuracy){
              directionsDisplay = new google.maps.DirectionsRenderer();
              lat = la;
              lon = lo;

              var mapcanvas = document.createElement('div');
              mapcanvas.id = 'mapcanvas';
              mapcanvas.style.height = '400px';
              mapcanvas.style.width = '560px';
                
              document.querySelector('article').appendChild(mapcanvas);
              
              var latlng = new google.maps.LatLng(lat, lon);
              var myOptions = {
                zoom: 15,
                center: latlng,
                mapTypeControl: false,
                navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
                mapTypeId: google.maps.MapTypeId.ROADMAP
              };
              
              map = new google.maps.Map(document.getElementById("mapcanvas"), myOptions);
              directionsDisplay.setMap(map);
              
              var marker = new google.maps.Marker({
                  position: latlng, 
                  map: map, 
                  title:"You are here! (at least within a "+accuracy+" meter radius)"
              });
              
              $.getJSON('/search/'+lat+","+lon, function(data){
                    viewmodel.toilets(data.toilets)
                    
                    for (var i = 0; i < data.toilets.length; i++) {
                        var toilet = data.toilets[i];
                      var point = new google.maps.LatLng(toilet.toilet_lat, toilet.toilet_long);
                      new google.maps.Marker({
                          position: point, 
                          map: map, 
                          icon: toiletIcon,
                          title:toilet.toilet_name
                      });
                    }
              })  
            }
            
            function success(position) {
              var s = document.querySelector('#status');
              
              if (s.className == 'success') {
                // not sure why we're hitting this twice in FF, I think it's to do with a cached result coming back    
                return;
              }
              
              s.innerHTML = "found you!";
              s.className = 'success';
              
              setup_map(position.coords.latitude, position.coords.longitude, position.coords.accuracy)
            }

            function error(msg) {
              var s = document.querySelector('#status');
              
              s.innerHTML = typeof msg == 'string' ? msg : "failed, fallback to default position";
              s.className = 'fail';
              
              //set default position to -6.36519,106.82973
              setup_map(-6.36519, 106.82973, 200)
              // console.log(arguments);
            }
            
            function getDirection(tlat,tlon){
                $('html, body').animate({ scrollTop: Math.max($("#mapcanvas").offset().top-60,0) }, 500);
                var request = {
                    origin: new google.maps.LatLng(tlat, tlon),
                    destination: new google.maps.LatLng(lat, lon),
                    travelMode: google.maps.DirectionsTravelMode.WALKING
                };
                directionsService.route(request, function(response, status) {
                  if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                  }
                });
            }
            
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(success, error);
            } else {
              error('not supported');
            }
            
            function toFixed(value, precision) {
                var power = Math.pow(10, precision || 0);
                return String(Math.round(value * power) / power);
            }
        </script>
  {% endblock %}