{% extends "base.html" %}
{% block title %}Rating Entries{% endblock %}
	{% block content %}
		<h1>Add new Rating Entries.</h1>
		<form name="rating_add" method="post" action="/rating/create/">
		<table>
				<tr>
					<td>User ID:</td>
					<td><input type="text" name="user_id"/></td>
				</tr>
				<tr>
					<td>Overall Rating:</td>
					<td><input type="text" name="overall_rating"/></td>
				</tr>
				<tr>
					<td>Rated on:</td>
					<td><input type="text" name="rated_on"/></td>
				</tr>
				<tr>
					<td><input type="submit" name="submit" value="Add Entry"/></td>
					<td> </td>
				</tr>
		</table>
		</form>
	{% endblock %}