{% extends "base.html" %}
{% block title %}Rating Entries{% endblock %}
	{% block content %}
		<h1>List of Rating Entries.</h1>
        {% if rating_entries %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<td>ID</td>
					<td>User ID</td>
					<td>Overall Rating</td>
					<td>Rated on</td>
					<td colspan="2">&nbsp;</td>
				</tr>
			</thead>
			
			<tbody>
			{% for entry in rating_entries %}
				<tr>
					<td>{{ entry.id }}</td>
					<td>{{ entry.user_id }}</td>
					<td>{{ entry.overall_rating }}</td>
					<td>{{ entry.rated_on }}</td>
					<td><a href="/rating/edit/{{ entry.rating_id }}">Edit</a></td>
					<td><a href="/rating/delete/{{ entry.rating_id }}">Delete</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
			{% else %}
		You have no entries yet
			{% endif %}
			<a class="btn btn-primary" href="/rating/add">Add new entry</a>
	{% endblock %}