{% extends "base.html" %}
{% block title %}Rating Entries{% endblock %}
	{% block content %}
		<h1>Edit Rating Entries</h1>
		<form name="rating_add" method="post" action="/rating/update/{{ rating_item.id }}">
		<table>
				<tr>
					<td>User Id</td>
					<td><input type="text" name="user_id" value="{{ rating_item.user_id }}"/></td>
				</tr>
				<tr>
					<td>Overall Rating:</td>
					<td><input type="text" name="overall_rating" value="{{ rating_item.overall_rating }}"/></td>
				</tr>
				<tr>
					<td>Rated on:</td>
					<td><input type="text" name="rated_on" value="{{ rating_item.rated_on }}"/></td>
				</tr>
				<tr>
					<td><input type="submit" name="submit" value="Edit Entry"/></td>
					<td> </td>
				</tr>
		</table>
		</form>
	{% endblock %}