{% extends "base.html" %}
    {% block title %}Edit Toilet Entries{% endblock %}
    {% block content %}
		<h1>Edit Toilet Entries</h1>
		<form name="toilet_add" method="post" action="/toilet/update/{{ toilet_item.toilet_id }}">
		<table>
				<tr>
					<td>Name:</td>
					<td><input type="text" name="toilet_name" value="{{ toilet_item.toilet_name }}"/></td>
				</tr>
				<tr>
					<td>Latitude:</td>
					<td><input type="text" name="toilet_lat" value="{{ toilet_item.toilet_lat }}"/></td>
				</tr>
				<tr>
					<td>Longitude:</td>
					<td><input type="text" name="toilet_long" value="{{ toilet_item.toilet_long }}"/></td>
				</tr>
				<tr>
					<td>Address:</td>
					<td><input type="text" name="toilet_address" value="{{ toilet_item.toilet_address }}"/></td>
				</tr>
				<tr>
					<td>Current Rating:</td>
					<td><input type="text" name="toilet_current_rating" value="{{ toilet_item.toilet_current_rating }}"/></td>
				</tr>
				<tr>
					<td>Toilet Type:</td>
					<td>
						<select name="toilet_type">
							<option value="0">Female</option>
							<option value="1">Male</option>
							<option value="2">General</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>User ID:</td>
					<td><input type="text" name="user_id" value="{{ toilet_item.user_id }}"/></td>
				</tr>
				<tr>
					<td><input class="btn" type="submit" name="submit" value="Edit Entry"/></td>
					<td> </td>
				</tr>
		</table>
		</form>
	{% endblock %}