{% extends "base.html" %}
    {% block title %}Toilet Entries{% endblock %}
    {% block content %}
		<h1>List of Toilet Entries.</h1>
        {% if toilet_entries %}
		<table class="table table-bordered" >
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Latitude</th>
					<th>Longitude</th>
					<th>Address</th>
					<th>Rating</th>
					<th>Added On</th>
					<th>User</th>
					<th colspan="2">&nbsp;</th>
				</tr>
			</thead>
			
			<tbody>
			{% for entry in toilet_entries %}
				<tr>
					<td>{{ entry.id }}</td>
					<td>{{ entry.toilet_name }}</td>
					<td>{{ entry.toilet_lat }}</td>
					<td>{{ entry.toilet_long }}</td>
					<td>{{ entry.toilet_address }}</td>
					<td>{{ entry.toilet_current_rating }}</td>
					<td>{{ entry.added_on }}</td>
					<td>{{ entry.user_id }}</td>
					<td><a class="btn" href="/toilet/edit/{{ entry.id }}">Edit</a></td>
					<td><a class="btn" href="/toilet/delete/{{ entry.id }}">Delete</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
			{% else %}
		You have no entries yet
			{% endif %}
			<b><a class="btn btn-primary" href="/toilet/add">Add new entry</a></b>
	{% endblock %}