<!doctype html>
<html>	<head><title>Edit Toilet Entries</title></head>
	<body>
		<h1>Edit Toilet Entries.</h1>
		<form name="toilet_add" method="post" action="/toilet/update/{{ toilet_item.id }}">
		<table>
				<tr>
					<td>Toilet_Name:</td>
					<td><input type="text" name="toilet_name" value="{{ toilet_item.toilet_name }}"/></td>
				</tr>
				<tr>
					<td>Toilet_Lat:</td>
					<td><input type="text" name="toilet_lat" value="{{ toilet_item.toilet_lat }}"/></td>
				</tr>
				<tr>
					<td>Toilet_Long:</td>
					<td><input type="text" name="toilet_long" value="{{ toilet_item.toilet_long }}"/></td>
				</tr>
				<tr>
					<td>Toilet_Address:</td>
					<td><input type="text" name="toilet_address" value="{{ toilet_item.toilet_address }}"/></td>
				</tr>
				<tr>
					<td>Toilet_Current_Rating:</td>
					<td><input type="text" name="toilet_current_rating" value="{{ toilet_item.toilet_current_rating }}"/></td>
				</tr>
				<tr>
					<td>Added_On:</td>
					<td><input type="text" name="added_on" value="{{ toilet_item.added_on }}"/></td>
				</tr>
				<tr>
					<td>User_Id:</td>
					<td><input type="text" name="user_id" value="{{ toilet_item.user_id }}"/></td>
				</tr>
				<tr>
					<td><input type="submit" name="submit" value="Edit Entry"/></td>
					<td> </td>
				</tr>
		</table>
		</form>
	</body>
</html>