{% extends "base.html" %}
    {% block title %}User Entries{% endblock %}
    {% block content %}
		<h1>List of User Entries.</h1>
        {% if user_entries %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>First_Name</th>
					<th>Last_Name</th>
					<th>Email</th>
					<th>Registered_On</th>
					<th colspan="2">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
			{% for entry in user_entries %}
				<tr>
					<td>{{ entry.id }}</td>
					<td>{{ entry.first_name }}</td>
					<td>{{ entry.last_name }}</td>
					<td>{{ entry.email }}</td>
					<td>{{ entry.registered_on }}</td>
					<td><a class="btn" href="/user/edit/{{ entry.id }}">Edit</a></td>
					<td><a class="btn" href="/user/delete/{{ entry.id }}">Delete</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
			{% else %}
		You have no entries yet
			{% endif %}
			<b><a class="btn btn-primary" href="/user/add">Add new entry</a></b>
	{% endblock %}