{% extends "base.html" %}
    {% block title %}User Entries{% endblock %}
    {% block content %}
		<h1>Edit User Entries.</h1>

		<table>
				<tr>
					<td>First name:</td>
					<td>{{ user_data.first_name }}</td>
				</tr>
				<tr>
					<td>Last name:</td>
					<td>{{ user_data.last_name }}</td>
				</tr>
				<tr>
					<td>Email:</td>
					<td>{{ user_data.email }}</td>
				</tr>
				<tr>
					<td>Registered on:</td>
					<td>{{ user_data.registered_on }}</td>
				</tr>
		</table>

     {% endblock %}
