{% extends "base.html" %}
    {% block title %}User Entries{% endblock %}
    {% block content %}
		<h1>Add New User</h1>
		<form name="user_add" method="post" action="/user/create/">
		<table>
				<tr>
					<td>First Name:</td>
					<td><input type="text" name="first_name"/></td>
				</tr>
				<tr>
					<td>Last Name:</td>
					<td><input type="text" name="last_name"/></td>
				</tr>
				<tr>
					<td>Email:</td>
					<td><input type="text" name="email"/></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type="password" name="password"/></td>
				</tr>
				<tr>
					<td></td>
					<td><input class="btn" type="submit" name="submit" value="Add Entry"/></td>
				</tr>
		</table>
		</form>
    {% endblock %}